In [71]:
from basketball_reference_scraper.teams import *
from basketball_reference_scraper.players import *
from basketball_reference_scraper.seasons import *
import numpy as np
import pandas as pd

In [36]:
luka = get_stats("Kristaps Porzingis", stat_type= "PER_GAME",playoffs=True)

You searched for "Kristaps Porzingis"
1 result found.
Kristaps Porzingis
Results for Kristaps Porzingis:

In [52]:
luka

,SEASON,AGE,TEAM,LEAGUE,POS,G,GS,MP,FG,FGA,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
0,2019-20,24.0,DAL,NBA,C,3.0,3.0,31.3,7.0,13.3,...,0.87,1.0,7.7,8.7,0.7,0.0,1.0,1.0,3.0,23.7

In [67]:
luka[luka.SEASON == "2019-20"]

,SEASON,AGE,TEAM,LEAGUE,POS,G,GS,MP,FG,FGA,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
0,2019-20,24.0,DAL,NBA,C,3.0,3.0,31.3,7.0,13.3,...,0.87,1.0,7.7,8.7,0.7,0.0,1.0,1.0,3.0,23.7

In [68]:
luka.insert(0,"Name","Kristaps Porzingis")

In [69]:
luka

,Name,SEASON,AGE,TEAM,LEAGUE,POS,G,GS,MP,FG,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
0,Kristaps Porzingis,2019-20,24.0,DAL,NBA,C,3.0,3.0,31.3,7.0,...,0.87,1.0,7.7,8.7,0.7,0.0,1.0,1.0,3.0,23.7

In [72]:
get_standings()

{'EASTERN_CONF':                    TEAM   W   L   W/L%    GB  PW  PL   PS/G   PA/G
 0    Philadelphia 76ers  25  12  0.676     —  24  14  112.0  108.1
 1         Brooklyn Nets  25  13  0.658   0.5  25  13  121.1  115.9
 2       Milwaukee Bucks  23  14  0.622   2.0  26  11  119.2  112.2
 3        Boston Celtics  19  18  0.514   6.0  19  18  111.6  111.1
 4            Miami Heat  19  18  0.514   6.0  17  21  104.1  105.4
 5       New York Knicks  19  19  0.500   6.5  18  20  104.8  105.2
 6     Charlotte Hornets  18  18  0.500   6.5  18  18  112.5  112.9
 7         Atlanta Hawks  17  20  0.459   8.0  19  18  112.8  112.4
 8       Toronto Raptors  17  20  0.459   8.0  20  17  113.2  111.8
 9        Indiana Pacers  16  19  0.457   8.0  18  18  109.6  109.4
 10        Chicago Bulls  16  19  0.457   8.0  17  19  111.5  112.3
 11   Washington Wizards  14  21  0.400  10.0  13  23  111.5  116.1
 12  Cleveland Cavaliers  14  22  0.389  10.5  10  27  101.8  109.0
 13        Orlando Magic  13  24  0.351  12.0  11  27  102.8  109.2
 14      Detroit Pistons  10  27  0.270  15.0  14  23  107.8  111.7,
 'WESTERN_CONF':                       TEAM   W   L   W/L%    GB  PW  PL   PS/G   PA/G
 0                Utah Jazz  27   9  0.750     —  28   9  113.5  104.9
 1             Phoenix Suns  25  11  0.694   2.0  25  11  113.9  107.5
 2       Los Angeles Lakers  24  13  0.649   3.5  25  13  108.4  103.5
 3     Los Angeles Clippers  25  14  0.641   3.5  26  13  115.2  109.3
 4           Denver Nuggets  21  15  0.583   6.0  24  13  112.7  107.6
 5   Portland Trail Blazers  21  15  0.583   6.0  17  19  114.7  115.3
 6        San Antonio Spurs  18  15  0.545   7.5  17  17  107.5  107.8
 7         Dallas Mavericks  19  17  0.528   8.0  18  18  111.8  112.2
 8        Memphis Grizzlies  17  16  0.515   8.5  18  16  108.8  107.6
 9    Golden State Warriors  19  19  0.500   9.0  19  19  113.1  113.3
 10   Oklahoma City Thunder  16  21  0.432  11.5  13  24  106.2  111.3
 11    New Orleans Pelicans  15  22  0.405  12.5  18  20  112.2  113.3
 12        Sacramento Kings  15  22  0.405  12.5  13  24  115.0  119.9
 13         Houston Rockets  11  24  0.314  15.5  12  24  104.5  110.0
 14  Minnesota Timberwolves   8  29  0.216  19.5  10  27  108.6  116.7}