In [1]:
from basketball_reference_scraper.teams import *
from basketball_reference_scraper.players import *
from basketball_reference_scraper.seasons import *
import numpy as np
import pandas as pd

In [2]:
luka = get_stats("Luka Doncic", stat_type= "PER_GAME",playoffs=True)

You searched for "Luka Doncic"
1 result found.
Luka Doncic
Results for Luka Doncic:

In [10]:
luka

,Name,SEASON,AGE,TEAM,LEAGUE,POS,G,GS,MP,FG,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
0,Luka Doncic,2019-20,20.0,DAL,NBA,PG,6,6,35.8,10.7,...,0.656,0.7,9.2,9.8,8.7,1.2,0.5,5.2,2.8,31.0

In [11]:
luka[luka.SEASON == "2019-20"]

,Name,SEASON,AGE,TEAM,LEAGUE,POS,G,GS,MP,FG,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
0,Luka Doncic,2019-20,20.0,DAL,NBA,PG,6,6,35.8,10.7,...,0.656,0.7,9.2,9.8,8.7,1.2,0.5,5.2,2.8,31.0

In [12]:
luka

,Name,SEASON,AGE,TEAM,LEAGUE,POS,G,GS,MP,FG,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
0,Luka Doncic,2019-20,20.0,DAL,NBA,PG,6,6,35.8,10.7,...,0.656,0.7,9.2,9.8,8.7,1.2,0.5,5.2,2.8,31.0

In [13]:
get_standings()

{'EASTERN_CONF':                    TEAM   W   L   W/L%    GB  PW  PL   PS/G   PA/G
 0   Philadelphia 76ers*  49  23  0.681     —  48  24  113.6  108.1
 1        Brooklyn Nets*  48  24  0.667   1.0  46  26  118.6  114.1
 2      Milwaukee Bucks*  46  26  0.639   3.0  48  24  120.1  114.2
 3        Atlanta Hawks*  41  31  0.569   8.0  41  31  113.7  111.4
 4      New York Knicks*  41  31  0.569   8.0  41  31  107.0  104.7
 5           Miami Heat*  40  32  0.556   9.0  36  36  108.1  108.0
 6       Boston Celtics*  36  36  0.500  13.0  39  33  112.6  111.2
 7   Washington Wizards*  34  38  0.472  15.0  32  40  116.6  118.5
 8        Indiana Pacers  34  38  0.472  15.0  36  36  115.3  115.3
 9     Charlotte Hornets  33  39  0.458  16.0  32  40  109.5  111.4
 10        Chicago Bulls  31  41  0.431  18.0  34  38  110.7  111.6
 11      Toronto Raptors  27  45  0.375  22.0  35  37  111.3  111.7
 12  Cleveland Cavaliers  22  50  0.306  27.0  18  54  103.8  112.3
 13        Orlando Magic  21  51  0.292  28.0  17  55  104.0  113.3
 14      Detroit Pistons  20  52  0.278  29.0  26  46  106.6  111.1,
 'WESTERN_CONF':                        TEAM   W   L   W/L%    GB  PW  PL   PS/G   PA/G
 0                Utah Jazz*  52  20  0.722     —  55  17  116.4  107.2
 1             Phoenix Suns*  51  21  0.708   1.0  49  23  115.3  109.5
 2     Los Angeles Clippers*  47  25  0.653   5.0  49  23  114.0  107.8
 3           Denver Nuggets*  47  25  0.653   5.0  47  25  115.1  110.1
 4         Dallas Mavericks*  42  30  0.583  10.0  41  31  112.4  110.2
 5   Portland Trail Blazers*  42  30  0.583  10.0  40  32  116.1  114.3
 6       Los Angeles Lakers*  42  30  0.583  10.0  42  30  109.5  106.8
 7     Golden State Warriors  39  33  0.542  13.0  38  34  113.7  112.7
 8        Memphis Grizzlies*  38  34  0.528  14.0  38  34  113.3  112.3
 9         San Antonio Spurs  33  39  0.458  19.0  32  40  111.1  112.8
 10     New Orleans Pelicans  31  41  0.431  21.0  35  37  114.6  114.9
 11         Sacramento Kings  31  41  0.431  21.0  28  44  113.7  117.4
 12   Minnesota Timberwolves  23  49  0.319  29.0  24  48  112.1  117.7
 13    Oklahoma City Thunder  22  50  0.306  30.0  15  57  105.0  115.6
 14          Houston Rockets  17  55  0.236  35.0  20  52  108.8  116.7}